.btn.level-btn {
    padding: 0 4rem;
}

.btn.level-btn:hover:not(:has(.count-pill:hover)):after {
    content: '+';
    position: absolute;
    top: -4px;
    left: 6px;
    color: #555;
}

.btn-count {
    right: 4px;
    z-index: 9;
}

.count-pill:hover {
    background: #fff;
    transition: all 0.3s;
    position: relative;
}

.count-pill:hover::after {
    content: '-';
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 4px;
}

.elevator-shaft {
    width: calc(1.425rem + 2.5vw);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.25));
}

.elevator {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1.5s ease-in-out;
}

.level-btn .btn-bg {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all 0.5s;
}
