.btn.level-btn {
    padding: 0 3rem;
}

.btn-count {
    transform: translateX(50%);
    padding-right: 2.5rem;
}

.btn-bg {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #0162F9;
    transition: all 0.5s;
}

.level-btn:nth-child(2) .btn-bg {
    background-color: #096CEC;
}

.level-btn:nth-child(3) .btn-bg {
    background-color:#1378DE;
}

.level-btn:nth-child(4) .btn-bg {
    background-color: #1E86CE;
}

.level-btn:nth-child(5) .btn-bg {
    background-color: #2791C1;
}

.level-btn:nth-child(6) .btn-bg {
    background-color: #329EB2;
}

.level-btn:nth-child(7) .btn-bg {
    background-color: #3FADA0;
}

.level-btn:nth-child(8) .btn-bg {
    background-color: #4EBF88;
}

.level-btn:nth-child(9) .btn-bg {
    background-color: #56C97D;
}

.level-btn:nth-child(10) .btn-bg {
    background-color: #63D96A;
}

.level-btn:nth-child(11) .btn-bg {
    background-color: #6DDD65;
}

.level-btn:nth-child(12) .btn-bg {
    background-color: #7CCB72;
}

.level-btn:nth-child(13) .btn-bg {
    background-color: #8BBC7F;
}

.level-btn:nth-child(14) .btn-bg {
    background-color: #98AF8A;
}

.level-btn:nth-child(15) .btn-bg {
    background-color: #A89E97;
}

.level-btn:nth-child(16) .btn-bg {
    background-color: #BB8AA8;
}

.level-btn:nth-child(17) .btn-bg {
    background-color: #CF75B8;
}

.level-btn:nth-child(18) .btn-bg {
    background-color: #E65DCC;
}

.level-btn:nth-child(19) .btn-bg {
    background-color: #FB48DE;
}