.segment-g path {
    transition: all 0.3s;
    cursor: pointer;
}

.segment-g text {
    transition: all 0.3s;
}

.segment-g path:hover ~ text.segment-count {
    opacity: 0.25;
}

.segment-g path:hover ~ text.segment-label {
    fill: #fff;
}

.segment-count {
    font-size: 6rem;
    opacity: 0.85;
    fill: #fff;
}

.segment-count-over {
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.segment-count-over:hover {
    opacity: 1;
}

.segment-label {
    font-size: 1.6rem;
    font-weight: bold;
    pointer-events: none;
}
